# Backend production endpoint URL
VITE_API_URL=https://api.yourdomain.com

# Frontend production endpoint URL (for generating script embed tags & widget sandboxes)
VITE_FRONTEND_URL=https://yourdomain.com
